body{
  background-color: #060709;
}
#background{
  position: relative;
  overflow: hidden;
  margin: 0;
  float: left;
  background-image: url(background.jpg);
  width: 100vw;
  height: 61.2vw;
  background-size: contain;
  display: block;
  z-index: 1;
}
#menu {
  width: 60vw;
  height: 5vw;
  display: block;
  float: left;
  margin-left: 7vw;
  margin-top: 2%;
  position: relative;
}

.menu_button {
  float: left;
  height: 100%;
  width: 14%;
  text-align: center;
  padding-top: 1.8vw;
  display: block;
  font-size: 1vw;
  font-family: Helvetica;
  font-weight: 100;
  color: rgb(204,204,195);
  &:hover{
    color: darken(rgb(204,204,195), 25%);
    cursor: pointer;
  }
}
.menu_button_active {
  float: left;
  height: 100%;
  width: 14%;
  color: red;
  text-align: center;
  padding-top: 1.8vw;
  display: block;
  font-size: 1vw;
  font-family: Helvetica;
  font-weight: 100;
  &:hover{
    color: darken(red, 25%);
    cursor: pointer;
  }
}
#line{
  width: 60vw;
  height: 0.1vw;
  display: block;
  float: left;
  margin-left: 7vw;
  position: relative;
  margin-top: -1vw;
}
#redline{
  float: left;
  height: 100%;
  width: 14%;
  text-align: center;
  background-color: red;
  display: block;
  margin-left: 14%;
}
#text{
  width: 55vw;
  height: 23vw;
  display: block;
  float: left;
  margin-left: 7vw;
  position: relative;
  margin-top: 5vw;
  > #p {
    width: 48.3vw;
    color: #c5c5c5;
    margin-top: -2%;
    text-align: justify;
    float: right;
    font-family: Helvetica;
    font-size: 1.1vw;
  }
}
#nav{
  width: 6vw;
  height: 3vw;
  display: block;
  float: right;
  position: relative;
}
#back {
  background-image: url(button.png);
  background-size: contain;
  width: 2.85vw;
  height: 2.9vw;
  float: left;
  position: relative;
  overflow: hidden;
  display: block;
  transform: rotate(180deg);
  &:hover{
      background-image: url(button_active.png);
      cursor: pointer;
  }
}
#next {
  background-image: url(button.png);
  background-size: contain;
  width: 2.85vw;
  height: 2.9vw;
  float: left;
  position: relative;
  overflow: hidden;
  display: block;
  &:hover{
      background-image: url(button_active.png);
      cursor: pointer;
  }
}
#h4{
  font-size: 1.8vw;
  color: #d0d0d0;
  float: right;
  margin-top: 6%;
  margin-right: -10%;
  letter-spacing: 0.6vw;
  font-family: Helvetica;
}
#music {
  font-size: 4vw;
  letter-spacing: 0.8vw;
  color: white;
  float: right;
  font-weight: 700;
  margin-right: 1%;
  font-family: Helvetica;
  >span{
    color: #f23005;
  }
}
#learn_more{
  font-size: 0.8vw;
  width: 11vw;
  height: 3.2vw;
  float: right;
  background-color: #f23005;
  text-align: center;
  font-weight: bold;
  color: #fef4f2;
  font-family: Helvetica;
  letter-spacing: 0.1vw;
  vertical-align: middle;
  line-height:3.2vw;
  &:hover{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fef4f2;
  }
}
#start_now{
  font-size: 0.8vw;
  margin-right: 2vw;
  width: 11vw;
  height: 3.1vw;
  float: right;
  background-color: transparent;
  border: 1px solid #fef4f2;
  text-align: center;
  font-weight: bold;
  color: #fef4f2;
  font-family: Helvetica;
  letter-spacing: 0.1vw;
  vertical-align: middle;
  line-height:3.2vw;
  &:hover{
    cursor: pointer;
    background-color: #f23005;
    border: none;
  }
}
#about{
  position: relative;
  width: 100vw;
  height: 35vw;
  background-color: transparent;
  float: left;
  display: block;
  z-index: 2;
  margin-top: -10vw;
}
.about_block1{
  width: 54vw;
  height: 35vw;
  background-color: transparent;
  float: left;
}
.about_block2{
  width: 45vw;
  height: 35vw;
  background-color: transparent;
  float: left;
  background-image: url(book.png);
  background-size: cover;
}
.about_block{
  width: 45vw;
  height: 17.5vw;
  background-color: transparent;
  float: right;
  display: block;
  >p{
    color: #c5c5c5;
    text-align: justify;
    float: right;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 1.05vw;
  }
}
.about_img{
  width: 7vw;
  height: 7vw;
  background-color: #f23005;
  float: right;
  display: block;
  color: white;
  >h4{
    font-size: 1.5vw;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Helvetica;
  }
  >p{
    margin-top: 0vw;
    font-family: Helvetica;
    font-size: 0.6vw;
    text-align: center;
  }
}
  #red_block{
    width: 78vw;
    height: 18vw;
    float: left;
    display: block;
    background-color: #f23005;
    padding-left: 22vw;
    >div{
      width: 14vw;
      height: 18vw;
      float: left;
      display: block;
      text-align: center;
      &:hover{
        background-color: #c42400;
      }
      >h1{
        color: white;
        font-size: 3.8vw;
        font-weight: 100;
        font-family: Helvetica;
        margin-top: 40%;
        margin-bottom:0;
      }
      >p{
        color: white;
        font-size: 0.9vw;
        font-family: Helvetica;
        margin-top: 0;
      }
    }
  }
  #grey{
    width: 100vw;
    height: 38vw;
    display: block;
    float: left;
    background-image: url("grey.png");
    background-size:contain;
    >h4{
      color: white;
      font-family: Helvetica;
      letter-spacing: 0.1vw;
      margin-top: 14vw;
      margin-left: 35vw;
    }
    >p{
      color: white;
      font-family: Helvetica;
      letter-spacing: 0.1vw;
      margin-top: 0;
      width: 39vw;
      text-align: justify;
      font-size: 0.8vw;
      font-weight: 100;
      margin-left: 12vw;
      font-style: italic;
      color: #c4c4c4;
    }
  }
  #footer{
    display: block;
    float: left;
    width: 100vw;
    height: 12vw;
  }
  #menu_footer {
    width: 60vw;
    height: 5vw;
    display: block;
    float: left;
    margin-left: 20vw;
    margin-top: 3.5vw;;
    position: relative;
  }
  #line_footer{
    width: 60vw;
    height: 0.1vw;
    display: block;
    float: left;
    margin-left: 20vw;
    position: relative;
    margin-top: -1vw;
  }
